<%-include("header") -%>
    <div class="box" id="heading">

        <h1>
            <%= listTitle %>
        </h1>

    </div>
    <div class="box">

    </div>
    <div class="box">

        <% newItems.forEach(function(newItem){ %>
            <form action="/delete" method="POST">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= newItem.id %>" onChange="this.form.submit()">
                    <p>
                        <%= newItem.name %>
                    </p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>"></input>
            </form>
            <% }) %>

                <form class="item" action="/" method="POST">
                    <input type="text" name="addItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" value="<%=listTitle %>">+</button>
                </form>
    </div>
    <%-include("footer") -%>